*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    background-color: rgba(218, 96, 26, 0.893);
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px black;
}
p{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 50px;
    border: 10px;
    border-style: solid;
    border-color: black;
    padding: 1em; 
    -webkit-text-stroke: 1px black;

}
.logo{
    color:rgb(229, 220, 220);
    text-transform:uppercase;
    letter-spacing: 5px;
    font-size:20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width:30%;
}
.nav-links a{
    color:rgb(229, 220, 220);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight:bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}
.burger{
    display:none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(229, 220, 220);
    margin: 5px;
    transition: all 0.3s ease;

}



@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
        cursor: pointer;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(218, 96, 26, 0.893);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        translate: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-5px,-6px);
}



input[type=text], select, textarea{
    width: 95%;
    margin: 15px;
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;

}
.row{
    padding-bottom: 5px;
    padding-left: 10px;
}
.col-25{
    text-align: center;
}